{{ $day := .Get 0 }}
{{ $sessions := index site.Data.agenda $day }}
<b>{{ $day }}</b>
{{ range $sessions }}

<div class="session-card">
<a href="./agenda/{{.id}}"><b>{{ .SessionTitle }}</b></a>

<div class="session-time">{{ .TimeStart }} – {{ .TimeEnd }} at {{ .RoomLocation}}</div>

{{ if gt (len .Tracks) 0 }}
<div style="display: inline-block;">
{{ range .Tracks }}
<div class="session-track">{{ . }}</div>
{{ end }}
</div>
{{ end }}

<div class="session-people">

  {{ if gt (len .RoleModerator) 0 }}
  {{ range .RoleModerator}}
  {{ $sp := index site.Data.speakerlookup . }}
  <a href="./speakers/{{$sp.id}}">
  <div class="person-mini-card">
  <img src="./../assets/avatars/{{$sp.avatar}}" />
  <b>{{ $sp.Name }}</b>
  <div style="opacity: 0.7;"> {{ $sp.Affiliation }}</div>
  </div>
  </a>
  {{ end }}
  {{ end }}

  {{ if gt (len .RoleDebater) 0 }}
  {{ range .RoleDebater }}
  {{ $sp := index site.Data.speakerlookup . }}
  <a href="./speakers/{{$sp.id}}">
  <div class="person-mini-card">
  <img src="./../assets/avatars/{{$sp.avatar}}" />
  <b>{{ $sp.Name }}</b>
  <div style="opacity: 0.7;"> {{ $sp.Affiliation }}</div>
  </div>
  </a>
  {{ end }}
  {{ end }}

  {{ if gt (len .Speakers) 0 }}
  {{ range .Speakers }}
  {{ $sp := index site.Data.speakerlookup . }}
  <a href="./speakers/{{$sp.id}}">
  <div class="person-mini-card">
  <img src="./../assets/avatars/{{$sp.avatar}}" />
  <b>{{ $sp.Name }}</b>
  <div style="opacity: 0.7;"> {{ $sp.Affiliation }}</div>
  </div>
  </a>
  {{ end }}
  {{ end }}

  {{ if gt (len .RoleFacilitator) 0 }}
  {{ range .RoleFacilitator }}
  {{ $sp := index site.Data.speakerlookup . }}
  <a href="./speakers/{{$sp.id}}">
  <div class="person-mini-card">
  <img src="./../assets/avatars/{{$sp.avatar}}" />
  <b>{{ $sp.Name }}</b>
  <div style="opacity: 0.7;"> {{ $sp.Affiliation }}</div>
  </div>
  </a>
  {{ end }}
  {{ end }}

{{ if gt (len .subs) 0 }}
{{ range .subs }}
  {{ if gt (len .Speakers) 0 }}
  {{range .Speakers}}
  {{ $sp := index site.Data.speakerlookup . }}

  <a style="color: #222 !important" href="./speakers/{{$sp.id}}">
      <div class="person-mini-card">
      <img src="./../assets/avatars/{{$sp.avatar}}" />
      <b>{{ $sp.Name }}</b>
      <div style="opacity: 0.7;"> {{ $sp.Affiliation }}</div>
      </div>
  </a>

  {{ end }}
{{ end }}

{{ end }}
{{ end }}

</div>

<div class="session-desc">{{ .Description | safeHTML }}</div>
<a style="text-align: right" href="agenda/{{.id}}">Read more...</a>
{{ $agendaid := .id }}

{{ if gt (len .subs) 0 }}
<b>{{len .subs}} Sub-sessions:</b>

{{ range .subs }}
<div class="sub-session">
  <div class="sub-title"><a href="./agenda/{{ $agendaid }}">{{ .SessionTitle }}</a></div>
  <div class="sub-speaker">{{ .RolePanelist }}</div>
  {{ if gt (len .Speakers) 0 }}
  {{range .Speakers}}
  {{ $sp := index site.Data.speakerlookup . }}
  <div class="sub-speaker"><a href="./speakers/{{$sp.id}}">{{ . }}</a></div>
  {{end}}
  {{ end }}

  {{ if gt (len .Presentations) 0 }}
  {{range .Presentations}}
  {{ $ext := replaceRE `^\.` "" (path.Ext . ) }}
  <div title="{{ . }}"><a class="sub-preso" href="./../presentations/{{ . }}">Get {{ $ext }}</a></div>
  {{end}}
  {{ end }}

  <!-- <div class="sub-desc">{{ .Description }}</div> -->
</div>
{{ end }}
{{ end }}

</div>

{{ end }}
