{{ define "main" }}
<div class='hx:mx-auto hx:flex hextra-max-page-width'>
  <article class="hx:w-full hx:break-words hx:flex hx:min-h-[calc(100vh-var(--navbar-height))] hx:min-w-0 hx:justify-center hx:pb-8 hx:pr-[calc(env(safe-area-inset-right)-1.5rem)]">
    <main class="hx:w-full hx:min-w-0 hx:max-w-6xl hx:px-6 hx:pt-4 hx:md:px-12">

      <a href="../..">⬅️ Back to agenda summary</a>
      <!-- {{ partial "breadcrumb.html" (dict "page" . "enable" true) }} -->
        <div class="content">

          <h3>{{ .Params.SessionTitle }}</h3>
          <p>{{ .Params.Date | time | time.Format "January 2, 2006"}}</p>

          {{ .Params.TimeStart }} – {{ .Params.TimeEnd }} at {{ .Params.RoomLocation }}</p>
          <p>{{ .Params.Description | safeHTML }}</p>

{{ if gt (len .Params.subs) 0 }}
<b>{{len .Params.subs}} Sub-sessions:</b>
{{ range .Params.subs }}
<div class="sub-session session-details">
  <div class="sub-title" style="color: #3434af; font-weight: bold; font-size: 18px;">{{ .SessionTitle }}</div>
  <div class="sub-speaker">{{ .RolePanelist }}</div>
  {{ if gt (len .Speakers) 0 }}
  <div class="sub-speaker">
  {{range .Speakers}}
  {{ $sp := index site.Data.speakerlookup . }}
  <a href="../../speakers/{{$sp.id}}" style="color: #222 !important;">
    <div class="person-mini-card" >
    <img src="../../../assets/avatars/{{$sp.avatar}}" />
    <b>{{ $sp.Name }}</b>
    <div style="opacity: 0.7;"> {{ $sp.Affiliation }}</div>
    </div>
  </a>
  {{end}}
  </div>
  {{ end }}

  {{ if gt (len .Presentations) 0 }}
  {{range .Presentations}}
  {{ $ext := replaceRE `^\.` "" (path.Ext . ) }}
  <div title="{{ . }}"><a class="sub-preso" href="../../presentations/{{ . }}">Get {{ $ext }}</a></div>
  {{end}}
  {{ end }}

  <div class="session-desc" style="line-clamp: unset; -webkit-line-clamp: unset;">{{ .Description | safeHTML }}</div>

  <!-- <div class="sub-desc">{{ .Description }}</div> -->
</div>
{{ end }}
{{ end }}

         </div>
        <div class="hx:mt-16"></div>
    </main>
  </article>
</div>

{{ end }}
