html,body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

a {
  color: var(--momo-blue-2) !important;
  text-decoration: none !important;
}
a:hover {
  color: var(--momo-blue-3) !important;

}

.speaker-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1.25rem;
  margin-top: 2rem;
}

.speaker-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-decoration: none;
  background: white;
  /* box-shadow: 0 2px 8px rgba(0,0,0,0.08); */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.speaker-card:hover {
  transform: translateY(-2px);
  filter:drop-shadow(0px 0px 6px #2225);
}

.speaker-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  vertical-align: top;
  background: #f5f5f5;
}

.speaker-image img {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  margin: 0 0;
  object-fit: cover;
}

.speaker-info {
  flex: 1;
  padding: 0.5rem 0.75rem 0.25rem 0.75rem;
  text-align: left;
  background: #f5f5f5;
}

.speaker-name {
  font-size: 1.125rem;
  font-weight: 600;
  color: #447;
  margin: 0.25rem 0;
}

.speaker-affiliation {
  font-size: 0.9rem;
  color: #888;
  margin: 0;
  margin-bottom: 0.5rem;
  line-height: 1.1rem;

}

.hextra-nav-container {
  background-color: var(--momo-blue-2);
  padding: 0.5rem 0 !important;

  a {
    color: white !important;
    font-weight: 300;
    font-size: 1.2rem;
  }

  img {
    filter: brightness(0) invert(1);
  }

  input::placeholder {
    color: #cff;
  }
}

.hextra-search-results {
  a {
    color: var(--momo-blue-2) !important;
  }

  a.hextra-search-active,a.hextra-search-inactive {
    color: var(--momo-blue-3) !important;
    background-color: var(--momo-blue-1) !important;
  }
}

.hextra-nav-container-blur {
  display: none;
}

.hextra-toc {
  display: none;
}


.session-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-left: 3px solid #578ef5;
  margin-top: 1rem;
  padding: 1rem 1rem;
  color: #444;
  /* background-color: #f8f8f8; */
}
.session-time {
  color: #666;
  font-size: 0.9rem;
}
.session-track {
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: rgb(47, 199, 148);
  margin-right: 2px;
  padding: 0px 5px 1px 5px;
  display: inline-block;
}
.session-desc {
  margin-top: 1rem;
  line-height: 1.4rem;
}
.session-people {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(96px, 1fr));
  margin-top: 0.5rem;
  margin-right: 1rem;

  a {
    color: #333;
    text-decoration: none;
  }
}

@-moz-document url-prefix() {
  .speaker-affiliation {
    max-height: calc(1.1rem * 3);
    overflow: hidden;
  }
  .session-desc {
    /* font-size: 1rem; */
    max-height: 10rem;
    overflow: hidden;
  }
}

.hextra-nav-container {
  /* background-color: #fffe; */
  /* padding: 0.5rem 0 0.25rem 0 !important; */
}

.sub-session {
  margin-top: 0.75rem;
  padding: 0 0.5rem;
}

.sub-title {
  color: #5b46cf;
}

.sub-speaker {
  margin-top: -0.25rem;
  font-weight: bold;
  a {
    color: #444;
    text-decoration: none;
  }
  a:hover {
    color: #44c;
  }
}

.person-mini-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 120px;
  font-size: 0.9rem;
  line-height: 1rem;
  padding: 4px 4px;

  img {
    display: block;
    width: 84px;
    height: 84px;
    object-fit:cover;
    border-radius: 42px;
    margin: 0.5rem auto 0.25rem auto;
  }
}

.person-mini-card:hover {
  background-color: #f4f4f4;
  filter: drop-shadow(0px 2px 2px #0002);
}

.sub-preso {
  background-color: rgb(255, 115, 0);
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 1px 4px;
  opacity: 0.9;
  text-transform: uppercase;
}

.sub-preso a:hover {
  opacity: 1.0;
}

.home-hero {
  background-color: var(--momo-orange-2) !important;
  margin: 2rem 0 3rem 0;
  font-size: 2.4rem;
  font-weight: 200;
  padding: 2rem 2.5rem 2.5rem 2.5rem;
  border-radius: 24px;
  border: 1.8rem solid var(--momo-orange-1);
  p {
    color: white;
    line-height: 3.3rem !important;
  }
}

.home-past-conferences {
  background-color: var(--momo-blue-1) !important;
  margin: 3rem 0 3rem 0;
  font-size: 2.4rem;
  font-weight: 200;
  padding: 1rem;
  border-radius: 24px;

  h2 {
    color: var(--momo-blue-3);
    text-align: center;
    margin: 0 auto;
    border: none;
    font-weight: 200;
  }
}

.conference-cards {
  display: grid;
  gap: 2rem;
  padding: 0 1rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.conference-card {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;

  img {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 12px !important;
    filter: brightness(0.9);
  }

  p {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    z-index: 2;
    padding-left: 0.5rem;
    font-weight: 700;
    font-size: 1.6rem;
    filter: drop-shadow(0px 2px 5px #0008);
    color: white;
  }
}

.conference-card:hover {
  filter: drop-shadow(0px 0px 3px #0008);
}

.read-more {
  font-size: 0.9rem;
  font-weight: 600;
  color: white !important;
  background-color: var(--momo-orange-1);
  line-height: 1.5rem !important;
  margin-right: auto;
  border-radius: 16px;
  padding: 1px 0.5rem 2px 0.5rem !important;
}
.read-more:hover {
  background-color: var(--momo-orange-2);
  color: white !important;
  filter: drop-shadow(0px 2px 3px #0002);
}