html,body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

a {
  color: var(--momo-blue-2) !important;
  text-decoration: none !important;
}
a:hover {
  color: var(--momo-blue-3) !important;

}

.speaker-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1.25rem;
  margin-top: 2rem;
}

.speaker-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-decoration: none;
  background: white;
  /* box-shadow: 0 2px 8px rgba(0,0,0,0.08); */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.speaker-card:hover {
  transform: translateY(-2px);
  filter:drop-shadow(0px 0px 6px #2225);
}

.speaker-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  vertical-align: top;
  background: #f5f5f5;
}

.speaker-image img {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  margin: 0 0;
  object-fit: cover;
}

.speaker-info {
  flex: 1;
  padding: 0.5rem 0.75rem 0.25rem 0.75rem;
  text-align: left;
  background: #f5f5f5;
}

.speaker-name {
  font-size: 1.125rem;
  font-weight: 600;
  color: #447;
  margin: 0.25rem 0;
}

.speaker-affiliation {
  font-size: 0.9rem;
  color: #888;
  margin: 0;
  margin-bottom: 0.5rem;
  line-height: 1.1rem;

}

.hextra-sidebar-container {
  display: none;
}

.hextra-nav-container {
  background-color: var(--momo-blue-2);
  padding: 0.5rem 0 !important;
  filter:drop-shadow(0px 2px 4px #0003);

  a {
    color: white !important;
    font-weight: 300;
    font-size: 1.1rem;
  }

  img {
    filter: brightness(0) invert(1);
  }

  input::placeholder {
    color: #cff;
  }
}

.hextra-search-results {
  a {
    color: var(--momo-blue-2) !important;
  }

  a.hextra-search-active,a.hextra-search-inactive {
    color: var(--momo-blue-3) !important;
    background-color: var(--momo-blue-1) !important;
  }
}

.hextra-nav-container-blur {
  display: none;
}

.hextra-toc {
  display: none;
}


.session-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-left: 3px solid #578ef5;
  margin-top: 1rem;
  padding: 1rem 1rem;
  color: #444;
  background-color: #fafafa;
}
.session-time {
  color: #666;
  font-size: 0.9rem;
}
.session-track {
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #2fc794;
  margin-right: 2px;
  padding: 0px 5px 1px 5px;
  display: inline-block;
}
.session-desc {
  margin-top: 1rem;
  line-height: 1.4rem;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.session-people {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(96px, 1fr));
  margin-top: 0.5rem;
  margin-right: 1rem;

  a {
    color: #444 !important;
    text-decoration: none;
  }
}

.speaker-affiliation {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* @-moz-document url-prefix() {
  .speaker-affiliation {
    max-height: calc(1.1rem * 3);
    overflow: hidden;
  }
  .session-desc {
    max-height: 10rem;
    overflow: hidden;
  }
}
*/

.hextra-nav-container {
  /* background-color: #fffe; */
  /* padding: 0.5rem 0 0.25rem 0 !important; */
}

.sub-session {
  margin-top: 0.75rem;
  padding: 0 0.5rem;
}

.sub-title a {
  color: #4260b0 !important;
  font-weight: 500;
}

.sub-speaker {
  display: flex;
  gap: 1rem;
  margin-top: -2px;
  /* font-weight: bold; */
  a {
    color: #444;
    text-decoration: none;
  }
  a:hover {
    color: #44c;
  }
}

.person-mini-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 120px;
  font-size: 0.9rem;
  line-height: 1rem;
  padding: 4px 4px;
  margin-top: 4px;

  a {
    color: #222 !important;
  }

  img {
    display: block;
    width: 84px;
    height: 84px;
    object-fit:cover;
    border-radius: 42px;
    margin: 0.5rem auto 0.25rem auto;
  }
}

.person-mini-card:hover {
  transition: all 0.1s ease-in-out;
  background-color: white;
  filter: drop-shadow(0px 2px 2px #0002);
}

.sub-preso {
  background-color: #ff7300;
  color: white !important;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 1px 4px;
  opacity: 0.9;
  text-transform: uppercase;
}

.sub-preso a:hover {
  opacity: 1.0;
}

.home-hero {
  background-color: var(--momo-orange-2) !important;
  margin: 2rem 0 3rem 0;
  font-size: 2.3rem;
  font-weight: 200;
  padding: 2rem 2.5rem 2.5rem 2.5rem;
  border-radius: 24px;
  border: 1.8rem solid var(--momo-orange-1);

  p {
    margin: 3rem 0 0rem 0;
    color: white;
    line-height: 3.3rem !important;
    text-align: center;
  }

  img {
    width: 75%;
    margin-top: 0.25rem;
    filter: brightness(0) invert(1) sepia(0.7) saturate(1000%) hue-rotate(-10deg);
  }
}

.home-past-conferences {
  flex: 1;
  background-color: var(--momo-blue-1) !important;
  font-weight: 500;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 24px;

  p {
    margin-top: 0;
  }

  h3 {
    padding: 0 0;
    text-align: center;
    margin: 0 auto;
    border: none;
  }
}

.colorblurb {
  flex: 1;
  padding: 1rem 2rem 2rem 2rem;
  font-size: 1.3rem;
  border-radius: 24px;

  h3 {
    margin-top: 0;
    padding-top: 0;
  }
  p {
    line-height: 2rem;
  }
}


.conference-cards {
  display: grid;
  gap: 1rem;
  padding: 0 0rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.conference-card {
  display: grid;
  grid-template-columns: 1fr;

  img {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 12px !important;
    filter: brightness(0.9);
  }

  p {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    z-index: 2;
    padding-top: 1.5rem;
    padding-left: 0.5rem;
    font-weight: 700;
    font-size: 1.6rem;
    filter: drop-shadow(0px 2px 5px #0008);
    color: white;
  }
}

.conference-card:hover {
  filter: drop-shadow(0px 0px 3px #0008);
}

.read-more {
  font-size: 0.9rem;
  font-weight: 600;
  color: white !important;
  background-color: var(--momo-orange-1);
  line-height: 1.5rem !important;
  margin-right: auto;
  border-radius: 16px;
  padding: 1px 0.5rem 2px 0.5rem !important;
}
.read-more:hover {
  background-color: var(--momo-orange-2);
  color: white !important;
  filter: drop-shadow(0px 2px 3px #0002);
}

.session-details {
  background-color: #f8f8f8;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ddd;
  border-left: 3px solid var(--momo-blue-2);
}

.momo-logo-image {
  margin-left: 1.25rem;
}

.front-page-col {
  display: flex;
  gap: 2rem;
}

.conf-section-picker {
  display: flex;
  width:100%;
  border-bottom: 4px solid var(--momo-orange-2);
  margin-top:2rem;
}

.btn-conf-button1 {
  padding: 0.9rem 1.5rem 0.75rem 1.5rem;
  margin: 0 0;
  font-weight: bold;
  background-color: var(--momo-orange-1);
  transition: opacity 0.1s ease-in-out;
  color: #224;
}
.btn-conf-button1:hover {
  opacity: 0.8;
  cursor: pointer;
}
.btn-conf-button1.active {
  color: white;
  background-color:  var(--momo-orange-2);
  opacity: 1.0;
  cursor: default;
}

.rainbowlogo {
  width: 100%;
  height: 300px;
  background: linear-gradient(
    45deg,
    rgb(183, 6, 6),
    rgb(197, 133, 14),
    rgb(235, 235, 107),
    rgb(71, 196, 110),
    rgb(75, 204, 255),
    rgb(64, 64, 240),
    rgb(199, 65, 229)
  );
}

.speaker-event {
  background-color: #f8f8f8;
  padding: 1rem 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ddd;
  border-left: 3px solid var(--momo-blue-2);

  a {
    font-weight: bold;
  }
}

@media(max-width: 1024px) {
  .home-hero {
    font-size: 1.8rem;

    p {
      line-height: 2.4rem !important;
      margin: 2rem 0 0 0;
    }
  }
  .rainbowlogo { height: 225px; }

  .front-page-col {
    flex-direction: column;
  }
}

@media(max-width: 768px) {
  .momo-logo-image {
    margin-left: 0rem;
  }
  .rainbowlogo { height: 150px; }
  .home-hero {
    font-size: 1.5rem;

    p {
      line-height: 2rem !important;
      margin: 1.5rem 0 0 0;
    }
  }
}

